parameters:
	api:
		namespaceConvention:
			- '\Baraja\StructuredApi\*Endpoint'

services:
	apiManager: Baraja\StructuredApi\ApiManager(%api.namespaceConvention%)

extensions:
	structuredApi: Baraja\StructuredApi\ApiExtension